.home-search-block {
  height: 240px;
  background-color: var(--background-block);
  text-align: center;
  transition: background-color .5s;
  .home-search {
    display: inline-block;
    position: relative;
    margin-top: 98px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    max-width: 760px;
    z-index: 1;
    .search-input {
      height: 40px;
      border: 1px solid var(--accent-icon);
      padding-left: 20px;
      padding-right: 54px;
      padding-top: 1px; /* set for ios safari */
      padding-bottom: 1px; /* set for ios safari */
      width: 100%;
      max-width: calc(100% - 76px);
      &:focus {
        box-shadow: 0 0 10px var(--accent-icon);
      }
    }
    .search-button {
      position: absolute;
      width: 34px;
      height: 34px;
      top: 5px;
      right: 5px;
      background-color: var(--accent-icon);
      cursor: pointer;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.7;
      }
      .search-icon {
        padding-top: 6px;
        padding-left: 1px;
      }
    }
    .search-scan-qr {
      position: absolute;
      bottom: -39px;
      left: 0;
      .search-scan-qr-icon {
        display: inline-block;
        vertical-align: middle;
        #qr-stroke1,
        #qr-stroke2 {
          transition: stroke .5s;
        }
        #qr-fill1 {
          transition: fill .5s;
        }
      }
      &:hover {
        color: var(--text-contrast);
        .search-scan-qr-icon {
          #qr-stroke1,
          #qr-stroke2 {
            stroke: var(--text-contrast);
          }
          #qr-fill1 {
            fill: var(--text-contrast);
          }
        }
      }
      .search-scan-qr-text {
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;
        user-select: none;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    height: 250px;
    .home-search {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 89px;
      width: calc(100% - 40px);
      .search-input {
        padding-left: 10px;
        padding-right: 44px;
        max-width: calc(100% - 56px);
      }
    }
  }
}

.home-sponsored {
  height: 150px;
  background-color: var(--background-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s;
  .sponsored-brand {
    height: 80px;
    width: 360px;
    display: inline-block;
    background-color: var(--button-additional);
    z-index: 1;
    position: relative;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    color: var(--text-main);
    &:hover {
      background-color: var(--background-secondary);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    }
    .sponsored-brand-icon {
      position: absolute;
      left: 20px;
      height: 40px;
      top: 50%;
      transform: translateY(-50%);
    }
    .sponsored-brand-title {
      position: absolute;
      top: 10px;
      left: 76px;
      font-size: 14px;
      font-weight: 700;
    }
    .sponsored-brand-text {
      position: absolute;
      top: 30px;
      left: 76px;
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 1024px) {
    height: 120px;
    .sponsored-brand {
      height: 40px;
      width: 164px;
      margin: 10px;
      .sponsored-brand-icon {
        height: 30px;
      }
      .sponsored-brand-title {
        left: 67px;
        font-size: 14px;
        font-weight: 400;
      }
      .sponsored-brand-text {
        display: none;
      }
    }
  }
}

.home-statistics {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-secondary);
  .statistics-block {
    min-height: 80px;
    width: calc(100% - 40px);
    max-width: 760px;
    z-index: 1;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background-color: var(--button-additional);
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: 1024px) {
      text-align: center;
    }
    .stat-piece {
      display: inline-block;
      margin: 10px;
      font-size: 14px;
      min-width: 70px;
      .stat-piece-header {
        color: var(--text-secondary);
      }
    }
  }
}

.home-converter {
  position: relative;
  z-index: 2; //to show over the chart
  height: 200px;
  text-align: center;
  @media only screen and (max-width: 1024px) {
    height: 170px;
  }
}

.home-price-chart {
  position: relative;
  z-index: 1;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-right: 10px;
}

.home-whale-transactions {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  .whale-transactions-block {
    font-size: 14px;
    width: calc(100% - 40px);
    max-width: 760px;
    z-index: 1;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background-color: var(--button-additional);
    margin: 20px;
    .tx-row {
      margin-bottom: 10px;
      .tx-time {
        display: inline-block;
        width: 6%;
        text-align: center;
      }
      .tx-link {
        padding-left: 5px;
        width: 70%;
        display: inline-block;
      }
      .tx-amount {
        padding-right: 5px;
        text-align: right;
        display: inline-block;
        width: 24%;

        // need a fix for currencies
        overflow: hidden; 
        white-space: nowrap;
        max-width: 165px;
      }
    }
  }
}
