.converter-amount {
  box-sizing: border-box;
  width: 156px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid var(--accent3);
  margin: 5px;
  vertical-align: top;
}
.converter-currency-select {
  display: inline-block;
  width: 170px;
  height: 40px;
  margin: 5px;
  vertical-align: top;
}
.converter-xrp {
  display: inline-flex;
  width: 158px;
  height: 38px;
  padding-left: 10px;
  border: 1px solid var(--accent3);
  vertical-align: top;
  margin: 5px;
  align-items: center;
}
.converter-xrp-text {
  padding-left: 5px;
}

@media only screen and (max-width: 1024px) {
  .converter-amount {
    margin: 5px 10px;
    width: 164px;
  }
  .converter-xrp {
    width: 152px;
    margin: 5px 10px;
  }
  .converter-currency-select {
    width: 164px;
    margin: 5px 10px;
  }
}