.chart-toolbar {
  position: relative;
  margin-bottom: -23px;
  margin-left: 56px;
  z-index: 1;
  button {
    cursor: pointer;
    margin-right: 5px;
    &.active {
      font-weight: bold;
    }
  }
}