.chart-toolbar {
  position: relative;
  margin-bottom: -23px;
  margin-left: 68px;
  z-index: 1;
  button {
    cursor: pointer;
    margin-right: 5px;
    &.active {
      font-weight: bold;
    }
  }
}

.chart-toolbar>button {
  background-color: var(--accent-icon);
  border: 0px;
  color: var(--text-contrast);
  transition: background-color 0.5s;
}

.chart-toolbar>button.active {
  background-color: var(--unaccent-icon);
}

.chart-toolbar>button:hover {
  background-color: var(--unaccent-icon);
  transition: background-color 0.5s;
}

.apexcharts-toolbar {
  z-index: 1 !important;
}

.apexcharts-zoomin-icon, .apexcharts-zoomout-icon, .apexcharts-zoom-icon, .apexcharts-pan-icon {
  transform: scale(1) !important;
}

.apexcharts-zoomin-icon>svg {
  fill: var(--accent-icon);
}

@media only screen and (max-width: 650px) {
  .chart-toolbar {
    margin-bottom: 20px;
    margin-left: unset;
    text-align: center;
  }
}