@mixin react-select {
  .react-select__control {
    border-color: var(--accent-icon);
    border-radius: 0;
    height: 40px;
    box-shadow: none;
    background-color: var(--background-input);
    transition: background-color .5s;
    &:hover {
      border-color: var(--accent-icon);
    }
    .react-select__input-container {
      color: var(--text-main);
    }
  }

  .react-select__menu {
    border-radius: 0;
    margin-top: 0;
    box-shadow: 0px 8px 16px 0px rgb(50 50 50 / 20%);
    z-index: 2;
  }

  .react-select__menu-list {
    padding-top: 0;
    padding-bottom: 0;
  }

  .react-select__option {
    background-color: var(--background-input);
    color: var(--text-main);
    &:hover {
      background-color: var(--background-secondary);
    }
  }

  .react-select__dropdown-indicator {
    color: var(--accent-icon);
    &:hover {
      color: var(--accent-icon);
    }
  }

  .react-select__indicator-separator {
    //background-color: var(--accent-icon);
    display: none;
  }

  .react-select__single-value {
    color: var(--text-main);
  }
}