.home-sponsored {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s;
  .sponsored-brand {
    height: 80px;
    width: 340px;
    display: inline-block;
    background-color: var(--button-additional);
    z-index: 1;
    position: relative;
    margin: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    color: var(--text-main);
    &:hover {
      background-color: var(--background-secondary);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    }
    .sponsored-brand-icon {
      position: absolute;
      left: 16px;
      height: 40px;
      top: 50%;
      transform: translateY(-50%);
    }
    .sponsored-brand-title {
      position: absolute;
      top: 10px;
      left: 76px;
      font-size: 14px;
      font-weight: 700;
    }
    .sponsored-brand-text {
      position: absolute;
      top: 30px;
      left: 76px;
      right: 15px;
      font-size: 14px;
    }
  }
  /* 1460 px when 4 brands */
  @media only screen and (max-width: 1100px) {
    margin-top: 10px;
    height: 120px;
    flex-wrap: wrap;
    .sponsored-brand {
      height: 40px;
      width: 160px;
      margin: 5px;
      .sponsored-brand-icon {
        height: 30px;
      }
      .sponsored-brand-title {
        left: 60px;
        font-size: 14px;
        font-weight: 400;
      }
      .sponsored-brand-text {
        display: none;
      }
      &.easybit {
        .sponsored-brand-icon {
          left: 8px;
          height: 25px;
        }
        .sponsored-brand-title {
          left: 40px;
        }
      }
      &.btcbit {
        .sponsored-brand-icon {
          left: 33px;
          height: 25px;
        }
        .sponsored-brand-title {
          left: 70px;
        }
      }
    }
  }
}

.home-converter {
  position: relative;
  z-index: 2; //to show over the chart
  height: 200px;
  text-align: center;
  @media only screen and (max-width: 1024px) {
    height: 170px;
  }
}

.home-price-chart {
  position: relative;
  z-index: 1;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-right: 10px;
}

.home-statistics {
  text-align: center;
  padding-bottom: 20px;
  min-height: 100px;
  .statistics-block {
    position: relative;
    min-height: 60px;
    width: calc(100% - 40px);
    max-width: 760px;
    z-index: 1;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background-color: var(--button-additional);
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    &:nth-child(3), 
    &:nth-child(4) {
      margin-top: 20px;
    }
    .stat-piece {
      display: inline-block;
      margin: 10px;
      font-size: 14px;
      min-width: 70px;
      .stat-piece-header {
        color: var(--text-secondary);
      }
    }
  }
}

.home-whale-transactions {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .whale-transactions-block {
    font-size: 14px;
    min-height: 290px;
    width: calc(100% - 40px);
    max-width: 760px;
    z-index: 1;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background-color: var(--button-additional);
    margin: 20px;
    .tx-row {
      &.just-added {
        background-color: var(--background-secondary);
        animation: just-added 3s 1 linear;
      }
      margin-bottom: 10px;
      .tx-time {
        display: inline-block;
        width: 6%;
        text-align: center;
        @media only screen and (max-width: 800px) {
          width: 14%;
        }
      }
      .tx-link {
        padding-left: 5px;
        width: 68%;
        display: inline-block;
        @media only screen and (max-width: 800px) {
          width: 34%;
          overflow: hidden;
          padding: 0;
          vertical-align: middle;
        }
      }
      .tx-amount {
        padding-right: 5px;
        text-align: right;
        display: inline-block;
        width: 12%;
        @media only screen and (max-width: 800px) {
          width: 24%;
        }
      }
      .tx-amount-fiat {
        padding-right: 5px;
        text-align: right;
        display: inline-block;
        width: 12%;
        @media only screen and (max-width: 800px) {
          width: 24%;
        }
      }
    }
  }
}

.home-faucet {
  position: relative;
  z-index: 1;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  @media only screen and (max-width: 800px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@keyframes just-added {
  0%   { background-color: var(--background-main); color: var(--text-main); }
  50%  { background-color: var(--background-contrast); color: var(--text-oposite); }
  100%  { background-color: var(--background-main); color: var(--text-main); }
}
