h1.landing-h1,
h2.landing-h2 {
  height: 32.5px;
}

.home-converter {
  margin-left: 20px;
  z-index: 2; //to show over the chart
  padding-top: 32px;
  height: 200px;
  text-align: center;
  @media only screen and (max-width: 803px) {
    padding-top: 0;
    height: 170px;
    margin-left: 0;
  }
}

.home-price-chart {
  padding-top: 20px;
  z-index: 1;
  width: 404px;
  margin-right: 20px;
  min-height: 265px;
  @media only screen and (max-width: 803px) {
    min-height: 291px;
    margin-left: 10px;
    width: calc(100% - 20px);
  }
}

.home-statistics {
  text-align: center;
  padding-bottom: 20px;
  min-height: 100px;
  .statistics-block {
    position: relative;
    min-height: 60px;
    width: calc(100% - 40px);
    max-width: 760px;
    z-index: 1;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background-color: var(--button-additional);
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    &:nth-child(3), 
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      margin-top: 20px;
    }
    .stat-piece {
      display: inline-block;
      margin: 10px;
      font-size: 14px;
      min-width: 70px;
      .stat-piece-header {
        color: var(--text-secondary);
      }
    }
    @media screen and (max-width: 560px) {
      min-height: 116px;
    }
  }
}

.home-whale-transactions {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .whale-transactions-block {
    font-size: 14px;
    min-height: 192px;
    width: calc(100% - 40px);
    max-width: 760px;
    z-index: 1;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background-color: var(--button-additional);
    margin: 20px;
    @media only screen and (max-width: 800px) {
      min-height: 379px;
    }
    .tx-row {
      &.just-added {
        background-color: var(--background-secondary);
        animation: just-added 3s 1 linear;
      }
      padding-bottom: 5px;
      padding-top: 5px;
      .tx-time {
        display: inline-block;
        width: 6%;
        text-align: center;
        @media only screen and (max-width: 800px) {
          width: 10%;
        }
        @media only screen and (max-width: 550px) {
          width: 15%;
        }
      }
      .tx-addresses {
        padding-left: 5px;
        width: 65%;
        display: inline-block;
        min-height: 22px;
        @media only screen and (max-width: 800px) {
          width: 68%;
          overflow: hidden;
          padding: 0;
          vertical-align: middle;
        }
        @media only screen and (max-width: 550px) {
          width: 54%;
        }
      }
      .tx-link {
        padding-right: 5px;
        text-align: right;
        width: calc(5% - 5px);
        display: inline-block;
        margin-bottom: -5px;
        vertical-align: middle;
        @media only screen and (max-width: 800px) {
          width: calc(4% - 5px);
          padding: 0;
        }
      }
      .tx-amount {
        padding-right: 5px;
        text-align: right;
        display: inline-block;
        width: 11%;
        @media only screen and (max-width: 800px) {
          width: 0%;
          padding-right: 0;
        }
      }
      .tx-amount-fiat {
        padding-right: 5px;
        text-align: right;
        display: inline-block;
        width: 11%;
        @media only screen and (max-width: 800px) {
          width: 15%;
        }
        @media screen and (max-width: 550px) {
          width: 24%;
        }
      }
    }
  }
}

@keyframes just-added {
  0%   { background-color: var(--background-main); color: var(--text-main); }
  50%  { background-color: var(--background-contrast); color: var(--text-oposite); }
  100%  { background-color: var(--background-main); color: var(--text-main); }
}
