.nft-offer {
  .column-left {
    display: inline-block;
    position: relative;
    width: calc(40% - 10px);
    padding-right: 10px;
  }
  .column-right {
    display: inline-block;
    width: calc(60% - 32px);
    padding: 0 15px;
    vertical-align: top;
  }
  @media only screen and (max-width: 600px) {
    font-size: 14px;
    .column-left {
      width: 100%;
      margin: auto;
    }
    .column-right {
      width: 100%;
      padding: 0;
    }
  }
}
