.object :global {
  .column-left {
    display: inline-block;
    position: relative;
    width: calc(30% - 30px);
    padding: 0 15px;
    table.table-details {
      border-collapse: separate;
      background-color: var(--background-main);
      td {
        border: 2.5px solid var(--background-main);
        &:first-child {
          border-left-width: 5px;
        }
        &:last-child {
          border-right-width: 5px;
        }
      }
      tr:last-child td {
        border-bottom-width: 5px;
      }
      thead tr th {
        box-shadow: none;
      }
    }
    .avatar {
      width: calc(100% - 2px);
      max-width: 333px;
      height: auto;
      display: inline-block;
      border: 1px solid var(--button-additional);
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    }
  }
  .column-right {
    display: inline-block;
    width: calc(70% - 32px);
    padding: 0 15px;
    vertical-align: top;
    table.table-details {
      tbody tr {
        td:first-child {
          width: 23%;
        }
      }
    }
    .slide {
      pre {
        white-space: pre;
        overflow: scroll;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    font-size: 14px;
    .column-left {
      width: 100%;
      margin: auto;
      padding: 0;
    }
    .column-right {
      width: 100%;
      padding: 0;
    }
  }
}
