.rewardAutoClaim :global {
  .flag-item {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }

  .flag-description {
    color: var(--text-secondary);
    font-size: 14px;
    margin-top: 0.5rem;
    line-height: 1.4;
  }

  @media (max-width: 600px) {
    .flag-item {
      padding: 0.75rem;
    }
  }
}