.home-search-block {
  height: 390px;
  background-color: var(--background1);
  text-align: center;
  transition: background-color .5s;
}

.home-search {
  display: inline-block;
  position: relative;
  margin-top: 145px;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
  max-width: 740px;
  z-index: 1;
}

.home-search .search-input {
  height: 40px;
  border: 1px solid var(--accent3);
  background-color: var(--background2);
  color: var(--text1);
  padding-left: 20px;
  padding-right: 54px;
  padding-top: 1px; /* set for ios safari */
  padding-bottom: 1px; /* set for ios safari */
  width: 100%;
  max-width: calc(100% - 76px);
}

.home-search .search-input:focus {
  outline: none !important;
  box-shadow: 0 0 10px var(--accent3);
}

.home-search .search-button {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 5px;
  right: 5px;
  background-color: var(--accent3);
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.home-search .search-button:hover {
  opacity: 0.7;
}

.home-search .search-button .search-icon {
  padding-top: 6px;
  padding-left: 1px;
}

.home-search .search-scan-qr {
  position: absolute;
  bottom: -39px;
  left: 0;
}

.home-search .search-scan-qr .search-scan-qr-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../../images/qr.svg);
  width: 24px;
  height: 24px;
  transition: background-image .5s;
}

.home-search .search-scan-qr:hover .search-scan-qr-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../../images/qr-hover.svg);
}

.home-search .search-scan-qr .search-scan-qr-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}

.home-sponsored {
  height: 150px;
  background-color: var(--background5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s;
}

.home-sponsored .sponsored-brand {
  height: 70px;
  width: 360px;
  display: inline-block;
  background-color: var(--background6);
  z-index: 1;
  position: relative;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  color: var(--text3);
}

.home-sponsored .sponsored-brand:hover {
  background-color: var(--background5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.home-sponsored .sponsored-brand .sponsored-brand-icon {
  position: absolute;
  left: 20px;
  top: 15px;
  height: 40px;
}

.home-sponsored .sponsored-brand .sponsored-brand-title {
  position: absolute;
  top: 10px;
  left: 76px;
  font-size: 14px;
  font-weight: 700;
}

.home-sponsored .sponsored-brand .sponsored-brand-text {
  position: absolute;
  top: 30px;
  left: 76px;
  font-size: 14px;
}

.home-converter {
  height: 566px;
  background-color: var(--background2);
  transition: background-color .5s;
}

@media only screen and (max-width: 1024px) {
  .home-search-block {
    height: 290px;
  }
  .home-search {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 89px;
    width: calc(100% - 20px);
  }
  .home-search .search-input {
    padding-left: 10px;
    padding-right: 44px;
    max-width: calc(100% - 56px);
  }
  .home-sponsored {
    height: 120px;
  }

  .home-sponsored .sponsored-brand {
    height: 40px;
    width: 164px;
    margin: 10px;
  }

  .home-sponsored .sponsored-brand .sponsored-brand-icon {
    top: 5px;
    height: 30px;
  }

  .home-sponsored .sponsored-brand .sponsored-brand-title {
    left: 67px;
    font-size: 14px;
    font-weight: 400;
  }

  .home-sponsored .sponsored-brand .sponsored-brand-text {
    display: none;
  }

  .home-converter {
    height: 495px;
  }
}