.home-search-block {
  height: 390px;
  background-color: var(--background-block);
  text-align: center;
  transition: background-color .5s;
  .home-search {
    display: inline-block;
    position: relative;
    margin-top: 145px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    max-width: 760px;
    z-index: 1;
    .search-input {
      height: 40px;
      border: 1px solid var(--accent-icon);
      padding-left: 20px;
      padding-right: 54px;
      padding-top: 1px; /* set for ios safari */
      padding-bottom: 1px; /* set for ios safari */
      width: 100%;
      max-width: calc(100% - 76px);
      &:focus {
        box-shadow: 0 0 10px var(--accent-icon);
      }
    }
    .search-button {
      position: absolute;
      width: 34px;
      height: 34px;
      top: 5px;
      right: 5px;
      background-color: var(--accent-icon);
      cursor: pointer;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.7;
      }
      .search-icon {
        padding-top: 6px;
        padding-left: 1px;
      }
    }
    .search-scan-qr {
      position: absolute;
      bottom: -39px;
      left: 0;
      .search-scan-qr-icon {
        display: inline-block;
        vertical-align: middle;
        #qr-stroke1,
        #qr-stroke2 {
          transition: stroke .5s;
        }
        #qr-fill1 {
          transition: fill .5s;
        }
      }
      &:hover {
        color: var(--text-contrast);
        .search-scan-qr-icon {
          #qr-stroke1,
          #qr-stroke2 {
            stroke: var(--text-contrast);
          }
          #qr-fill1 {
            fill: var(--text-contrast);
          }
        }
      }
      .search-scan-qr-text {
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;
        user-select: none;
      }
    }
  }
}

.home-sponsored {
  height: 150px;
  background-color: var(--background-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s;
  .sponsored-brand {
    height: 80px;
    width: 360px;
    display: inline-block;
    background-color: var(--button-additional);
    z-index: 1;
    position: relative;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    color: var(--text-main);
    &:hover {
      background-color: var(--background-secondary);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    }
    .sponsored-brand-icon {
      position: absolute;
      left: 20px;
      top: 15px;
      height: 40px;
    }
    .sponsored-brand-title {
      position: absolute;
      top: 10px;
      left: 76px;
      font-size: 14px;
      font-weight: 700;
    }
    .sponsored-brand-text {
      position: absolute;
      top: 30px;
      left: 76px;
      font-size: 14px;
    }
  }
}

.home-converter {
  position: relative;
  height: 200px;
  text-align: center;
}

.home-price-chart {
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-right: 10px;
}

@media only screen and (max-width: 1024px) {
  .home-search-block {
    height: 250px;
    .home-search {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 89px;
      width: calc(100% - 40px);
      .search-input {
        padding-left: 10px;
        padding-right: 44px;
        max-width: calc(100% - 56px);
      }
    }
  }
  .home-sponsored {
    height: 120px;
    .sponsored-brand {
      height: 40px;
      width: 164px;
      margin: 10px;
      .sponsored-brand-icon {
        top: 5px;
        height: 30px;
      }
      .sponsored-brand-title {
        left: 67px;
        font-size: 14px;
        font-weight: 400;
      }
      .sponsored-brand-text {
        display: none;
      }
    }
  }

  .home-converter {
    height: 170px;
  }
}