.address-input {

    .react-select__placeholder,
    .react-select__control {
        text-align: left !important;
    }

    &.address-input--taxon .react-select__control {
        background-color: var(--background-input-readonly);
        pointer-events: none;

        .not-empty ~ .center & {
            background-color: var(--background-input);
            pointer-events: all;
        }
    }

    .react-select__control {
        border: 1px solid var(--unaccent-icon);
        border-radius: 0;
        box-shadow: none;

        &:hover {
            border-color: var(--accent-link);
            box-shadow: 0 0 5px var(--unaccent-icon);
        }
    }
}