.brandsBlock :global {
  flex-wrap: wrap;
  display: flex;
  margin: 15px auto;
  justify-content: center;
  align-items: center;
  transition: background-color .5s;
  .brand-item {
    height: 70px;
    width: 308px;
    display: inline-block;
    background-color: var(--button-additional);
    z-index: 1;
    position: relative;
    margin: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    color: var(--text-main);
    &:hover {
      background-color: var(--background-secondary);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    }
    .brand-item-icon {
      position: absolute;
      left: 10px;
      height: 34px;
      top: 50%;
      transform: translateY(-50%);
    }
    .brand-item-title {
      position: absolute;
      top: 6px;
      left: 56px;
      font-size: 14px;
      font-weight: 700;
    }
    .brand-item-text {
      position: absolute;
      top: 24px;
      left: 56px;
      right: 5px;
      font-size: 14px;
    }
    &.nexo {
      .brand-item-icon {
        height: 24px;
      }
    }
    &.stake {
      .brand-item-icon {
        height: 45px;
        width: 45px;
        left: 5px
      }
    }
    &.xbit {
      .brand-item-icon {
        height: 24px;
      }
      .brand-item-text, .brand-item-title {
        left: 98px;
      }
    }
  }
  /* 970 - 2 brands, 1100 - 3 brands, 1279 px when 4 brands */
  @media only screen and (max-width: 970px) {
    .brand-item {
      height: 40px;
      width: 154px;
      margin: 5px;
      .hideOnsmall {
        display: none;
      }
      .brand-item-icon {
        height: 30px;
      }
      .brand-item-title {
        top: 10px;
        font-size: 14px;
        font-weight: 400;
      }
      .brand-item-text {
        display: none;
      }
      &.easybit {
        .brand-item-icon {
          left: 8px;
          height: 25px;
        }
        .brand-item-title {
          left: 40px;
        }
      }
      &.btcbit {
        .brand-item-icon {
          height: 25px;
        }
      }
      &.xbit {
        .brand-item-icon {
          height: 15px;
        }
        .brand-item-title {
          left: 64px;
        }
      }
      &.nexo {
        .brand-item-icon {
          left: 8px;
        }
        .brand-item-title {
          left: 47px;
        }
      }
      &.stake {
        .brand-item-icon {
          height: 40px;
          width: 40px;
          left: 10px;
        }
      }
    }
  }
}
