.sponsored-block {
  height: 124.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s;
  .sponsored-brand {
    height: 80px;
    width: 340px;
    display: inline-block;
    background-color: var(--button-additional);
    z-index: 1;
    position: relative;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    color: var(--text-main);
    &:hover {
      background-color: var(--background-secondary);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    }
    .sponsored-brand-icon {
      position: absolute;
      left: 16px;
      height: 40px;
      top: 50%;
      transform: translateY(-50%);
    }
    .sponsored-brand-title {
      position: absolute;
      top: 10px;
      left: 76px;
      font-size: 14px;
      font-weight: 700;
    }
    .sponsored-brand-text {
      position: absolute;
      top: 30px;
      left: 76px;
      right: 15px;
      font-size: 14px;
    }
  }
  /* 1460 px when 4 brands, 1100 - 3 brands */
  @media only screen and (max-width: 760px) {
    height: 80px;
    flex-wrap: wrap;
    .sponsored-brand {
      height: 40px;
      width: 161px;
      margin: 5px;
      .sponsored-brand-icon {
        height: 30px;
      }
      .sponsored-brand-title {
        left: 60px;
        font-size: 14px;
        font-weight: 400;
      }
      .sponsored-brand-text {
        display: none;
      }
      &.easybit {
        .sponsored-brand-icon {
          left: 8px;
          height: 25px;
        }
        .sponsored-brand-title {
          left: 40px;
        }
      }
      &.btcbit {
        .sponsored-brand-icon {
          left: 33px;
          height: 25px;
        }
        .sponsored-brand-title {
          left: 70px;
        }
      }
    }
  }
}