.button-arrow-scroll {
    height: 42px;
    width: 42px;
    z-index: 2;
    border: none;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    right: 80px;
    bottom: 20px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s ease-in-out;
    cursor: pointer;

    img {
        transition: transform 0.4s ease-in-out;
    }

    &:hover {
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);

        img {
            transform: scale(0.9);
        }
    }

    @media only screen and (max-width: 816px) {
        right: 15px;
        bottom: 106px;
    }
}