.converter-amount {
  box-sizing: border-box;
  width: 156px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid var(--unaccent-icon);
  margin: 5px;
  vertical-align: top;
  transition: border-color 0.5s;
}
.converter-currency-select {
  display: inline-block;
  width: 170px;
  height: 40px;
  margin: 5px;
  vertical-align: top;
}
.converter-xrp {
  display: inline-flex;
  width: 158px;
  height: 38px;
  padding-left: 10px;
  background-color: var(--background-input);
  border: 1px solid var(--unaccent-icon);
  vertical-align: top;
  margin: 5px;
  align-items: center;
  transition: background-color, border-color 0.5s;
}
.converter-amount:hover, .converter-xrp:hover {
  border: 1px solid var(--accent-icon);
  transition: border-color 0.5s;
}
.converter-xrp-text {
  padding-left: 5px;
}

@media only screen and (max-width: 1024px) {
  .converter-amount {
    margin: 5px 5px;
    width: 160px;
  }
  .converter-xrp {
    width: 148px;
    margin: 5px 5px;
  }
  .converter-currency-select {
    width: 160px;
    margin: 5px 5px;
  }
}