@import "./select.scss";

.expiration-select {
  @include react-select;
  max-width: 400px;
  display: inline-block;

  .react-select__option,
  .react-select__single-value {
    text-align: left;
  }
}