$width: 340px;

.filters-onlyCsv {
  position: absolute;
  padding: 20px 15px;
  @media (max-width: 1300px) {
    padding: 12px 15px;
  }
}

.filters {
  z-index: 3;

  @media (min-width: 1300px) {
    .content-cols:not(.is-filters-hide) & {
      border-right: 1px solid #ccc;
    }

    & + .content-text {
      min-height: calc(100vh - 81px) !important;
      padding-top: 16px;

      center > .flex {
        justify-content: center;
      }
    }
  }

  @media (max-width: 1300px) {
    position: absolute;
    width: 100vw;
    height: calc(100% - 20px);
    pointer-events: none;
    padding-top: 12px;
    z-index: 4;
  }

  &-nav {
    position: absolute;
    inset: 20px 15px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 3;
    pointer-events: none;

    @media (max-width: 1300px) {
      top: 12px;
    }

    &__wrap {
      position: sticky !important;
      top: 95px;
      pointer-events: all;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;

      @media (max-width: 1300px) {
        gap: 8px;
        margin-bottom: 8px;
      }

      .dropdown {
        margin-left: auto;
      }

    }
  }

  &__box {
    @media (min-width: 1300px) {
      position: sticky;
      top: 81px;
      padding: 20px 15px;
      width: $width;
      max-width: $width;

      .content-cols:not(.is-filters-hide) & {
        overflow-y: scroll;
        max-height: calc(100vh - 81px);

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    @media (max-width: 1300px) {
      height: 100%;
    }
  }

  .content-cols.is-filters-hide & {
    @media (min-width: 1300px) {
      width: 0;
    }
  }

  &__close {
    background: none;
    border: none;
    font-size: 34px;
    padding: 0;
    display: flex;

    .dark & {
      color: #fff;
    }

    @media (min-width: 1300px) {
      display: none;
    }
  }

  & + .content-text {
    margin: 64px 0 25px 0;
    width: 100%;

    @media (max-width: 920px) {
      margin: 128px 0 25px 0;
    }

    @media (max-width: 440px) {
      margin: 55px 0 15px 0;
    }

    th,
    td {
      @media (max-width: 1550px) {
        padding: 5px;
        font-size: 12px;
      }
    }
  }

  .filters-head {
    text-align: right;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6e6e6e;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1300px) {
      height: 38px;
    }

    @media (max-width: 1300px) {
      .button-action {
        order: -1;
      }
    }

    .filter-header-title {
      @media (min-width: 1300px) {
        margin-left: 55px;
        width: calc(100% - 140px);
        text-align: center;
      }
      @media (max-width: 1300px) {
        font-size: 16px;
        margin-left: -50px;
      }
    }

    i {
      font-style: normal;
    }
  }

  &__wrap {
    padding-bottom: 40px;

    .filters-check-box {
      display: block;
      margin-bottom: 20px;
    }

    .filters-body > * {
      @media (min-width: 1300px) {
        margin-bottom: 20px;
      }

      @media (max-width: 1300px) {
        max-width: 620px;
        margin: 0 auto 20px;
      }
    }

    @media (min-width: 1300px) {
      .content-cols.is-filters-hide & {
        display: none;
      }
    }

    @media (max-width: 1300px) {
      position: fixed;
      inset: 81px 0 -90px;
      background: #fff;
      padding: 20px 30px 90px;
      overflow-y: scroll;
      transform: translateY(100%);
      pointer-events: all;
      transition: transform 0.3s ease-in-out;

      .dark & {
        background: #000;
      }

      .content-cols.is-filters-hide & {
        transform: translateY(0);
      }
    }
  }

  &__toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 15px;
    background-color: var(--background-input);
    margin: 0;
    font-size: 20px;
    padding: 4px;
    border: 1px solid var(--unaccent-icon);
    cursor: pointer;
    color: var(--text-main);

    @media (min-width: 440px) {
      width: 38px;
      height: 38px;
    }

    @media (max-width: 440px) {
      padding: 5px;
    }

    @media (max-width: 1300px) {
      position: sticky;
      top: 95px;
      pointer-events: all;
    }
  }

  .react-datepicker-wrapper input:hover {
    border-color: var(--accent-link);
    box-shadow: 0 0 5px var(--unaccent-icon);
  }
}
