footer {
  position: relative;
  z-index: 3;
  background-color: var(--background-footer);
  color: var(--text-contrast);
  transition: background-color .5s, color .5s;
}

.footer-menu {
  display: inline-block;
  margin-top: 20px;
  margin-left: 80px;
  margin-bottom: 20px;

  a,
  .link {
    display: block;
    margin: 5px 0;
  }
}

.footer-menu-column {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
  margin-bottom: 10px;
  font-size: 14px;
  a,
  .link {
    &:hover {
      color: var(--text-contrast);
    }
  }
}

.footer-menu-header {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 17px;
}

.footer-brand {
  vertical-align: top;
  margin-top: 20px;
  margin-right: 80px;
  float: right;
  text-align: right;

  .footer-logo {
    width: 139px;
    height: 40px;
    float: right;
    margin-bottom: 5px;
  }

  .footer-brand-text {
    clear: both;
    line-height: 20px;
    font-size: 14px;
  }
}

.footer-social {
  margin-top: 10px;
  margin-right: -8px;
  margin-bottom: 10px;
}

.footer-social-icon {
  margin: 8px;
  cursor: pointer;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.7;
  }
}

.footer-cookie {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: var(--background-contrast);
  color: var(--text-oposite);
}

@media only screen and (max-width: 1024px) {
  .footer-menu {
    margin-left: 30px;
  }

  .footer-brand {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0;
    float: none;
    text-align: center;

    .footer-logo {
      display: none;
    }
  }
}
