.form-input {
    position: relative;

    input {
        background: none;
        border: none;
        padding: 2px 8px;
    }

    &--search input {
        padding: 0 8px;
        margin: 2px 0;
        height: 34px;
        width: calc(100% - 70px) !important;
    }

    @media(max-width: 1100px) {
        margin-bottom: 20px;
    }

    &__wrap {
        position: relative;
        border: 1px solid var(--unaccent-icon);
        text-align: left;
    }

    &-select {
        width: 100%;
    }

    &.disabled {
        pointer-events: none;

        .form-input__wrap {
            background-color: var(--background-input-readonly);
        }

        .search-button {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    .react-select__placeholder,
    .react-select__control {
        text-align: left !important;
    }

    &.form-input--taxon .react-select__control {
        background-color: var(--background-input-readonly);
        pointer-events: none;

        .not-empty ~ .center & {
            background-color: var(--background-input);
            pointer-events: all;
        }
    }

    .react-select__control {
        border: none;
        box-shadow: none;
        background: transparent;

        &:hover {
            border-color: var(--accent-link);
            box-shadow: 0 0 5px var(--unaccent-icon);
        }
    }

    &__btns {
        position: absolute;
        inset: 0 0 0 auto;
        display: flex;

        .disabled & {
            background: none;
        }
    }

    .react-select {
        &__input-container {
            max-width: calc(100% - 55px);
            overflow: hidden;
        }

        &__menu {

            .dark & {
                background: #000;
            }
        }

        &__option--is-selected,
        &__option--is-focused {
            background: var(--unaccent-icon);
        }
    }

    &__clear {
        border: none;
        opacity: 0;
        background: transparent;
        pointer-events: none;
        cursor: pointer;
        transition: opacity 0.3s;

        .not-empty ~ .form-input__btns & {
            opacity: 1;
            pointer-events: all;
        }

        .dark & {
            color: var(--text-main);
        }
    }

    .react-select__input {
        color: var(--text-main) !important;
        opacity: 1 !important;
        padding-right: 30px;
    }

    .react-select__indicator {
        display: none;
    }

    .search-button {
        margin: 3px 3px 3px 0;
        width: 34px;
        background-color: var(--accent-icon);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.25s;

        img {
            padding-top: 4px;
            width: 18px;
            transition: filter 0.25s;
        }


        &:hover {
            background-color: var(--text-main);

            .dark & {
                img {
                    filter: brightness(0.25);
                }
            }
        }
    }
}
