header {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: var(--background-header);
  border-bottom: 1px solid var(--background-menu);
  z-index: 5;
  transition: background-color .5s;
  .header-logo {
    max-width: 160px;
    max-height: 46px;
    margin-left: 80px;
    margin-top: 17px;
  }

  .menu-dropdown {
    position: relative;
    display: inline-block;
    .menu-dropdown-button {
      color: white;
      cursor: pointer;
      transition: color .5s;
      display: flex;
      align-items: center;
    }
    .menu-dropdown-content {
      display: none;
      position: absolute;
      padding-top: 31px;
      min-width: 165px;
      background-color: var(--background-header);
      border-bottom: 1px solid var(--background-menu);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 2;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid var(--background-menu);
      }
      a, .link {
        display: block;
        margin: 0;
        padding: 10px 16px;
        white-space: nowrap;
        color: var(--text-contrast);
        background: none;
        border-right: 1px solid var(--background-menu);
        border-left: 1px solid var(--background-menu);
        font-size: 16px;
        cursor: pointer;
        &:hover {
          color: var(--accent-link);
        }
      }
    }
    &:hover {
      .menu-dropdown-content {
        display: block;
      }
      .menu-dropdown-button {
        color: var(--accent-link);
      }
    }
  }

  .header-menu-left,
  .header-menu-right {
    position: absolute;
    font-size: 16px;
    line-height: 18px;
  }

  .header-menu-left {
    top: 31px;
    left: 250px;
    .menu-dropdown {
      .menu-dropdown-button {
        margin: 0 10px;
      }
      .menu-dropdown-content {
        &:after {
          top: 31px;
        }
      }
    }
  }

  .header-menu-right {
    right: 80px;
    top: 24px;
    display: flex;
    align-items: center;
    > div {
      margin: 0 5px;
      &:last-child {
        margin-right: 0;
      }
    }
    a, .link {
      margin-right: 20px;
      vertical-align: middle;
      &:hover {
        color: var(--text-contrast);
      }
    }
    .user-icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
    .menu-dropdown {
      .menu-dropdown-content {
        &:after {
          top: 29px;
        }
      }
    }
  }

  .header-burger {
    display: none;
    position: absolute;
    right: 20px;
    top: 25px;
  
    #header-burger {
      display: none;
    }
    
    .header-burger-elements {
      width: 32px;
      height: 26px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      cursor: pointer;
    }
    
    .header-burger-elements > div {
      height: 2px;
      background-color: white;
      transition: 0.5s;
      z-index: 4;
    }
    
    #header-burger:checked ~ .header-burger-elements > div {
      background-color: #fff;
    }
    
    #header-burger:checked ~ .header-burger-elements > div:nth-child(1) {
      transform: translateY(12px) rotate(45deg);
    }
    #header-burger:checked ~ .header-burger-elements > div:nth-child(2) {
      opacity: 0;
    }
    #header-burger:checked~ .header-burger-elements > div:nth-child(3) {
      transform: translateY(-12px) rotate(-45deg);
    }
  }
}

.mobile-menu {
  margin-top: 81px;
  background-color: var(--background-menu);
  height: calc(100% - 81px);
  width: 100%;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  top: 0;
  z-index: 4;
  transition: 0.5s;
  overflow: auto;
  .mobile-menu-item {
    display: flex;
    margin: 23px 40px;
    color: white;
    font-size: 18px;
    .user-icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
  }
  .mobile-menu-directory {
    color: rgba(255, 255, 255, 0.5);
    height: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    position: relative;
    margin: 0 40px;
    span {
      position: relative;
      top: -.8em;
      font-size: 14px;
      background-color: var(--background-menu);
      transition: background-color .5s;
      display: inline-block;
      padding: 0 10px;
    }
  }
}

@media only screen and (max-width: 1240px) {
  header {
    .header-menu-left {
      display: none;
    }

    .header-menu-right {
      right: 60px;
      .header-signin-link,
      .theme-switch {
        display: none;
      }
      .menu-dropdown {
        display: none;
      }
    }

    .header-logo {
      margin-left: 20px;
      max-width: 120px;
      margin-top: 21px;
      max-height: 39px;
    }

    .header-burger {
      display: block;
    }
  }
}