header {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: var(--background-header);
  border-bottom: 1px solid var(--background-menu);
  z-index: 7;
  transition: background-color .5s;
  .header-logo {
    margin-left: 20px;
    margin-top: 17px;
  }

  .menu-dropdown {
    position: relative;
    display: inline-block;
    .menu-dropdown-button {
      color: white;
      cursor: pointer;
      transition: color .5s;
      display: flex;
      align-items: center;
      padding-bottom: 1px; //don't cut bottoms of "g" in titles
      height: 20px;
      .chevron {
        padding-left: 3px;
        padding-top: 2px;
      }
    }
    .menu-dropdown-content {
      position: absolute;
      left: -16px;
      padding-top: 31px;
      min-width: 165px;
      background-color: var(--background-header);
      border-bottom: 1px solid var(--background-menu);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

      &:after {
        content: "";
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid var(--background-menu);
      }
      a, .link {
        text-decoration: none;
        display: block;
        margin: 0;
        padding: 10px 16px;
        white-space: nowrap;
        color: var(--text-contrast);
        background: none;
        border-right: 1px solid var(--background-menu);
        border-left: 1px solid var(--background-menu);
        font-size: 16px;
        cursor: pointer;
        &:hover {
          color: var(--accent-link);
        }
      }
      hr {
        margin: 0;
        border: 0;
        border-top: 1px solid var(--background-menu);
      }
    }
    &:hover {
      .menu-dropdown-button {
        color: var(--accent-link);
      }

      & ~ .menu-dropdown .menu-dropdown-content {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  .header-menu-left,
  .header-menu-right {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    > div {
      margin: 0 5px;
    }
  }

  .header-menu-left {
    left: 70px;
    top: 29px;
  }

  .header-menu-right {
    top: 24.5px;
    right: 20px;
    > div {
      &:last-child {
        margin-right: 0;
      }
    }
    a, .link {
      margin-right: 20px;
      vertical-align: middle;
      &:hover {
        color: var(--text-contrast);
      }
    }
    .user-icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
    .top-switch {
      .chevron {
        display: none;
      }
    }
  }

  .header-burger {
    display: none;
    position: absolute;
    right: 20px;
    top: 25px;

    #header-burger {
      display: none;
    }

    .header-burger-elements {
      width: 32px;
      height: 26px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      cursor: pointer;
    }

    .header-burger-elements > div {
      height: 2px;
      background-color: white;
      transition: 0.5s;
      z-index: 4;
    }

    #header-burger:checked ~ .header-burger-elements > div {
      background-color: #fff;
    }

    #header-burger:checked ~ .header-burger-elements > div:nth-child(1) {
      transform: translateY(12px) rotate(45deg);
    }
    #header-burger:checked ~ .header-burger-elements > div:nth-child(2) {
      opacity: 0;
    }
    #header-burger:checked~ .header-burger-elements > div:nth-child(3) {
      transform: translateY(-12px) rotate(-45deg);
    }
  }
}

.mobile-menu {
  margin-top: 81px;
  background-color: var(--background-menu);
  height: calc(100% - 81px);
  width: 100%;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  top: 0;
  z-index: 6;
  transition: 0.5s;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .mobile-menu-wrap {
    padding-top: 5px;
  }
  .mobile-menu-item {
    text-decoration: none;
    display: flex;
    margin: 5px 40px;
    color:#fff;
    font-size: 16px;
    padding-left: 10px;
    .user-icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
  }
  .mobile-menu__submenu {
    display: none;
    overflow: hidden;
    padding: 10px 0 4px;
  }

  .mobile-menu-directory {
    position: relative;
    margin: 0 40px;
    color: #fff;
    font-size: 18px;
    padding: 4px 0;
    border-bottom: 1px solid #fff;
    cursor: pointer;

    &[data-expanded]:after,
    &[data-expanded]::before {
      content: '';
      position: absolute;
      top: 50%;
      transform-origin: center;
      width: 1px;
      height: 8px;
      background-color: #fff;
      transform: rotate(45deg);
      right: 3px;
      transition: transform 0.2s;
    }

    &[data-expanded]:after {
      right: 8px;
      transform: rotate(-45deg);
    }

    &[data-expanded="true"] {

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }

      + .mobile-menu__submenu {
        display: flex;
        flex-direction: column;
      }
    }
  }

  > .mobile-menu-directory {
    margin-bottom: 10px;
  }
}

.mobile-menu-open {
  header {
    .header-menu-right {
      .theme-switch {
        display: block;
      }
      .top-switch {
        .menu-dropdown {
          display: block;
        }
      }
    }
  }
  .mobile-menu {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1060px) {
  header {
    .header-menu-left {
      display: none;
    }

    .header-menu-right {
      right: 60px;
      .theme-switch {
        display: none;
      }
      .menu-dropdown {
        display: none;
      }
    }

    .header-burger {
      display: block;
    }
  }
}

@media only screen and (max-width: 600px) {
  .mobile-menu-open {
    header {
      .header-logo {
        display: none;
      }
      .header-menu-right {
        left: 32px;
        right: unset;
      }
    }
  }
}