@import "./select.scss";

.issuer-select {
  @include react-select;
  margin: 5px;
  max-width: 400px;
  width: calc(100% - 22px);
  display: inline-block;

  .react-select__option,
  .react-select__single-value {
    text-align: left;
  }
}