.chart-toolbar {
  position: relative;
  margin-bottom: -23px;
  margin-left: 68px;
  z-index: 1;
  button {
    cursor: pointer;
    margin-right: 5px;
    background-color: var(--accent-icon);
    border: 0px;
    color: var(--text-contrast);
    transition: background-color 0.5s;
    &.active {
      font-weight: bold;
      background-color: var(--unaccent-icon);
    }
    &:hover {
      background-color: var(--unaccent-icon);
    }
  }
  @media only screen and (max-width: 650px) {
    margin-bottom: 20px;
    margin-left: unset;
    text-align: center;
  }
}

.apexcharts-toolbar {
  z-index: 1 !important;
  div[class*="-icon"] {
    transform: scale(1) !important;
  }
  .apexcharts-zoomout-icon {
    margin-right: unset;
  }
}
