.home-price-chart {
  margin-top: -20px;
  margin-left: -12px;
  margin-bottom: -22px;
  margin-right: -5px;

  @media (max-width: 767px) {
    margin-top: -12px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -14px;
  }
}

.apexcharts-toolbar {
  z-index: 1 !important;
  div[class*="-icon"] {
    transform: scale(1) !important;
  }
  .apexcharts-zoomout-icon {
    margin-right: unset;
  }
}
