.productsClass :global {

  .glider-dot {
    color: var(--text-secondary) !important;
    &.active {
      background-color: var(--accent-link) !important;
    }
  }

  .products {
    height: 259px;
    width: 760px;
    margin: 0 auto;
    z-index: 1;

    @media screen and (max-width: 760px) {
      width: 380px;
    }

    .product {
      position: relative;
      height: 259px !important;
      background-color: var(--background-main);
      box-shadow: 0px 0px 2px 0px #00000040;
      transition: box-shadow 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 0;
        pointer-events: none;
      }

      .product-wrap {
        position: absolute;
        padding: 40px 15px 20px;
        inset: 0;
        z-index: 2;
        color: var(--text-main);
      }

      .product-bg {
        z-index: 4;
        position: absolute;
        right: 0;
        top: 0;
      }

      .product-gradient {
        background-size: contain;
        height: 100%;
      }

      &.list1 {
        &::after {
          background: #dd983d1a;
        }
      }

      &.list2 {
        &::after {
          background: #3fa3b533;
        }
      }

      &.list3 {
        &::after {
          background: #00b1c115;
        }
      }

      &.list4 {
        &::after {
          background: #14913e33;
        }
      }

      h2 {
        font-size: 24px;
        line-height: 1;
        font-weight: 700;
        margin: 0;
        text-align: left;
      }

      ul {
        list-style: none;
        padding: 0;
        max-width: 60%;
      }

      li {
        margin-bottom: 10px;
        position: relative;

        a {
          display: flex;
          align-items: center;
          color: var(--text-main);
          font-weight: 600;
          font-size: 16px;
          line-height: 17px;
          
          &:hover {
            span {
              text-decoration: underline;
            }
          }
        }

        span {
          margin-left: 20px;
          padding-bottom: 4px;
          position: relative;
        }

        img {
          position: absolute;
          top: 2px;
          left: 0;
          width: 12px;
        }
      }
    }
  }
}