.productsClass :global {
  .slick-dots li button:before {
    color: var(--text-main) !important;
  }

  .slick-slide {
    &[aria-hidden=true] a[href] {
      visibility: hidden;
    }
  }

  .products {
    width: calc(100% - 39px);
    margin: auto auto 30px auto;
    height: 263.5px;
    max-width: 760px;
    z-index: 1;

    @media screen and (max-width: 760px) {
      max-width: 380px;
    }

    .product {
      position: relative;
      height: 259px;
      background-color: var(--background-main);

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 0;
        pointer-events: none;
      }

      .product-wrap {
        position: absolute;
        padding: 40px 15px 20px;
        inset: 0;
        z-index: 2;
        color: var(--text-main);
      }

      .product-bg {
        z-index: 4;
        position: absolute;
        right: 0;
        top: 0;
      }

      .product-gradient {
        background-size: contain;
        height: 100%;
      }

      &.list1 {
        &::after {
          background: #dd983d1a;
        }
      }

      &.list2 {
        &::after {
          background: #3fa3b533;
        }
      }

      &.list3 {
        &::after {
          background: #00b1c115;
        }
      }

      &.list4 {
        &::after {
          background: #14913e33;
        }
      }

      h2 {
        font-size: 24px;
        line-height: 1;
        font-weight: 700;
        margin: 0;
        text-align: left;
      }

      ul {
        list-style: none;
        padding: 0;
        max-width: 60%;
      }

      li {
        margin-bottom: 10px;
        position: relative;

        a {
          display: flex;
          align-items: center;
          color: var(--text-main);
          font-weight: 600;
          font-size: 16px;
          line-height: 17px;
          
          &:hover {
            span {
              text-decoration: underline;
            }
          }
        }

        span {
          margin-left: 20px;
          padding-bottom: 4px;
          position: relative;
        }

        svg {
          position: absolute;
          top: 1px;
          left: 0;
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}