@mixin react-select {
  .react-select__control {
    border-color: var(--unaccent-icon);
    border-radius: 0;
    height: 40px;
    box-shadow: none;
    background-color: var(--background-input);
    transition: background-color .5s, border-color 0.5s;
    &:hover {
      border-color: var(--accent-icon);
    }
    .react-select__value-container {
      text-align: left;
      .react-select__input-container {
        color: var(--text-main);
      }
    }
    .react-select__input {
      position: absolute;
    }
  }

  .react-select__control--is-focused {
    box-shadow: 0 0 10px var(--accent-icon);
  }

  .react-select__menu {
    border-radius: 0;
    margin-top: 0;
    z-index: 2;
  }

  .react-select__menu-list {
    padding-top: 0;
    padding-bottom: 0;
  }

  .react-select__option {
    background-color: var(--background-secondary);
    color: var(--text-main);
    &:hover {
      background-color: var(--background-main);
    }
  }

  .react-select__option--is-focused:not(.react-select__option--is-selected) {
    background-color: var(--background-main);
  }

  .react-select__dropdown-indicator {
    color: var(--accent-icon);
    &:hover {
      color: var(--accent-icon);
    }
  }

  .react-select__indicator-separator {
    //background-color: var(--accent-icon);
    display: none;
  }

  .react-select__single-value {
    color: var(--text-main);
  }
}