.sign-in-form {
  background: rgba(black, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  .header {
    text-align: center;
    padding-top: 60px;
    font-size: 28px;
    font-weight: bold;
    @media only screen and (max-width: 480px) {
      font-size: 24px;
    }
  }
  .sign-in-body {
    outline: 3px solid var(--text-main);
    outline-offset: -15px;
    position: fixed;
    width: 480px;
    height: 520px; //bigger on devnets
    margin-top: -240px;
    margin-left: -240px;
    top: 50%;
    left: 50%;
    background-color: var(--background-main);
    @media only screen and (max-width: 480px) {
      width: 100%;
      height: 100%;
      margin: 0;
      top: 0;
      left: 0;
    }
    .quarter {
      position: relative;
      &.xrpOnly {
        input {
          width: 124px;
          padding-right: 40px;
          @media only screen and (max-width: 480px) {
            width: calc(100% - 52px);
          }
        }
        &:after {
          content: "XRP";
          position: absolute;
          right: 10px;
          bottom: 9px;
        }
      }
    }
    .terms-checkbox {
      text-align: justify;
      margin: 20px 60px;
      @media only screen and (max-width: 480px) {
        text-align: left;
        margin: 20px 40px;
      }
    }
    .signin-apps {
      margin-top: 80px;
      .signin-app-logo {
        display: inline-block;
        width: 169px;
        height: 80px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        margin: 10px 5px;
        padding: 15px;
        background-color: var(--background-main);
        cursor: pointer;
        @media only screen and (max-width: 480px) {
          width: 120px;
          height: 60px;
        }
        &:hover {
          background-color: var(--background-secondary);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .signin-actions-list {
      display: inline-block;
      margin: 20px 0;
      text-align: left;
    }
    .signin-status {
      margin: 20px;
      text-align: center;
    }
  }
}

body.dark {
  .sign-in-form {
    background: rgba(white, 0.2);
    .sign-in-body {
      .signin-apps {
        .signin-app-logo {
          background-color: #F9F9F9;
          &:hover {
            background-color: #C7C7C7;
          }
        }
      }
    }
  }
}
