footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 224px;
  background-color: var(--background3);
}

.footer {
  position: relative;
  color: var(--text2);
}

.footer-menu {
  position: absolute;
  top: 20px;
  left: 80px;
}

.footer-menu-column {
  display: inline-block;
  margin-right: 60px;
  vertical-align: top;
}

.footer-menu a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
}

.footer-menu-header {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 17px;
}

.footer-brand {
  position: absolute;
  top: 20px;
  right: 80px;
  text-align: right;
}

.footer-brand .footer-logo {
  height: 40px;
  float: right;
  margin-bottom: 5px;
}

.footer-brand .footer-brand-text {
  clear: both;
  line-height: 20px;
  font-size: 14px;
  margin-right: 10px;
}