header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: var(--background1);
  border-bottom: 1px solid var(--accent2);
  z-index: 1;
}

.header-logo {
  pointer-events: none;
  position: absolute;
  max-width: 160px;
  max-height: 46px;
  left: 80px;
  top: 17px;
}

.header-menu-left,
.header-menu-right {
  position: absolute;
  font-size: 16px;
  line-height: 18px;
}

.header-menu-left {
  top: 34px;
  left: 250px;
}

.header-menu-left a {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 10px;
  text-decoration: none;
}

.header-menu-left a:hover {
  color: var(--accent1);
}

/* style menu-dropdown starts */
.menu-dropdown-button {
  color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  background-color: var(--background1);
  font-size: 16px;
}

.menu-dropdown {
  position: relative;
  display: inline-block;
}

.menu-dropdown-content {
  display: none;
  position: absolute;
  padding-top: 28px;
  min-width: 165px;
  background-color: var(--background1);
  border-bottom: 1px solid var(--accent2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-dropdown-content:after {
  content: "";
  position: absolute;
  top: 27.5px;
  left: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid var(--accent2);
}

.menu-dropdown-content a {
  display: block;
  margin: 0;
  padding: 10px 16px;
  text-decoration: none;
  white-space: nowrap;
  border-left: 1px solid var(--accent2);
  border-right: 1px solid var(--accent2);
}

.menu-dropdown-content a:hover {
  color: var(--accent1);
}

.menu-dropdown:hover .menu-dropdown-content {
  display: block;
}

.menu-dropdown:hover .menu-dropdown-button {
  color: var(--accent1);
}

/* style menu-dropdown ends */

.header-menu-right {
  right: 80px;
  top: 28px;
}

.header-menu-right a {
  text-decoration: none;
  margin-right: 20px;
  vertical-align: middle;
}

.header-under {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 60px;
  background: linear-gradient(180deg, rgba(9, 138, 157, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

[data-theme='dark'] .header-under {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
}

@media screen and (max-device-width: 1024px) {
  .header-menu-left,
  .header-menu-right {
    display: none;
  }

  .header-logo {
    left: 20px;
  }
}