header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: var(--background1);
  border-bottom: 1px solid var(--accent2);
  z-index: 1;
}

.header-logo {
  max-width: 160px;
  max-height: 46px;
  margin-left: 80px;
  margin-top: 17px;
}

.header-menu-left,
.header-menu-right {
  position: absolute;
  font-size: 16px;
  line-height: 18px;
}

.header-menu-left {
  top: 34px;
  left: 250px;
}

.header-menu-left a {
  color: white;
  opacity: 0.7;
  margin: 0 10px;
  text-decoration: none;
}

.header-menu-left a:hover {
  color: var(--accent1);
}

/* style menu-dropdown starts */
.menu-dropdown-button {
  color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  background-color: var(--background1);
  font-size: 16px;
}

.menu-dropdown {
  position: relative;
  display: inline-block;
}

.menu-dropdown-content {
  display: none;
  position: absolute;
  padding-top: 28px;
  min-width: 165px;
  background-color: var(--background1);
  border-bottom: 1px solid var(--accent2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-dropdown-content:after {
  content: "";
  position: absolute;
  top: 27.5px;
  left: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid var(--accent2);
}

.menu-dropdown-content a {
  display: block;
  margin: 0;
  padding: 10px 16px;
  text-decoration: none;
  white-space: nowrap;
  border-left: 1px solid var(--accent2);
  border-right: 1px solid var(--accent2);
}

.menu-dropdown-content a:hover {
  color: var(--accent1);
}

.menu-dropdown:hover .menu-dropdown-content {
  display: block;
}

.menu-dropdown:hover .menu-dropdown-button {
  color: var(--accent1);
}

/* style menu-dropdown ends */

.header-menu-right {
  right: 80px;
  top: 28px;
}

.header-menu-right a {
  text-decoration: none;
  margin-right: 20px;
  vertical-align: middle;
}

.header-under {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 60px;
  background: linear-gradient(180deg, rgba(9, 138, 157, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

[data-theme='dark'] .header-under {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
}

.header-burger {
  display: none;
  position: absolute;
  right: 20px;
  top: 28px;
}

.header-burger .mobile-menu {
  margin-top: 81px;
  background-color: var(--background4);
  min-height: calc(100% - 81px);
  width: 100%;
  position: fixed;
  right: 0;
  transform: translateX(50rem);
  top: 0;
  z-index: 2;
  transition: 0.5s;
}

.header-burger .mobile-menu .mobile-menu-item {
  display: block;
  margin: 23px 40px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.header-burger .mobile-menu .mobile-menu-directory {
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  position: relative;
  margin: 0 40px;
}

.header-burger .mobile-menu .mobile-menu-directory span {
  position: relative;
  top: -.8em;
  font-size: 14px;
  background-color: var(--background4);
  display: inline-block;
  padding: 0 10px;
}

#header-burger {
  display: none;
}

#header-burger:checked ~ .mobile-menu {
  transform: translateX(0rem);
}

.header-burger-elements {
  width: 32px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.header-burger-elements > div {
  height: 3px;
  background-color: white;
  transition: 0.5s;
  z-index: 3;
}

#header-burger:checked ~ .header-burger-elements > div {
  background-color: #fff;
}

#header-burger:checked ~ .header-burger-elements > div:nth-child(1) {
  transform: translateY(11.5px) rotate(45deg);
}
#header-burger:checked ~ .header-burger-elements > div:nth-child(2) {
  opacity: 0;
}
#header-burger:checked~ .header-burger-elements > div:nth-child(3) {
  transform: translateY(-11.5px) rotate(-45deg);
}

@media screen and (max-device-width: 1024px) {
  .header-menu-left,
  .header-menu-right {
    display: none;
  }

  .header-logo {
    margin-left: 20px;
  }

  .header-burger {
    display: block;
  }

}