:root {
  --background1: #002C37;
  --background2: white;
  --background3: #333333;
  --text1: black;
  --text2: white;
  --accent1: #00B1C1;
  --accent1-hover: #79BFCB;
  --accent2: #006B7D;
}

[data-theme='dark'] {
  --background1: #002C37;
  --background2: #002C37;
  --background3: #333333;
  --text1: white;
  --text2: white;
  --accent1: #00B1C1;
  --accent1-hover: #79BFCB;
  --accent2: #006B7D;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  background-color: var(--background2);
  transition: background-color .5s, color .5s;
  color: var(--text1);
  position: relative;
  min-height: 100vh;
}

.content {
  padding-top: 81px;
  padding-bottom: 143px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: var(--accent1);
}

a:hover {
  color: var(--accent1-hover);
}

@import "header.css";
@import "switch.css";
@import "footer.css";