@import "./variables.scss";

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v28-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v28-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v28-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v28-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  position: relative;
  background-color: var(--background2);
  transition: background-color .5s, color .5s;
  color: var(--text1);
}

.credits {
  display: none;
}

.content {
  padding-top: 81px;
  flex: 1;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../images/logo-square.svg');
    background-size: 100% auto;
  }

  .content-text {
    margin: 80px;
    position: relative;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: var(--accent1);
  transition: color 0.5s;
  text-decoration: none;
  &:hover {
    color: var(--hover1);
  }
}

input {
  border-radius: 0; // remove rounded corners on ios safari
  font-size: 16px; // remove auto zoom on ios safari
  outline: none; // remove default rounded corners on focus
  font-family: inherit;
  transition: background-color .5s, color .5s;
  background-color: var(--background8);
  caret-color: var(--text1);
  color: var(--text1);
}

button {
  font-family: inherit;
}

@media only screen and (max-width: 1024px) {
  .content {  
    .content-text {
      margin: 20px;
    }
  }
}

@import "./components/header.scss";
@import "./components/switch.scss";
@import "./components/footer.scss";