@import "./variables.scss";

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v28-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v28-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v28-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v28-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  position: relative;
  background-color: var(--background-main);
  transition: background-color .5s, color .5s;
  color: var(--text-main);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: 100% auto;
}

.content {
  padding-top: 81px;
  flex: 1;

  .content-text {
    margin: 80px;
    z-index: 1;
    position: relative;
    @media only screen and (max-width: 1024px) {
      margin: 20px;
    }
  }

  .content-center {
    margin: 80px auto;
    max-width: 760px;
    z-index: 1;
    position: relative;
    @media only screen and (max-width: 800px) {
      margin: 20px;
    }
  }
}

h1 {
  @media only screen and (max-width: 800px) {
    font-size: 24px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: var(--accent-link);
  transition: color 0.5s;
  text-decoration: none;
  &:hover {
    color: var(--accent-link-hover);
  }
  &.hover-oposite {
    &:hover {
      color: var(--text-oposite);
    }
  }
}

input {
  -webkit-appearance: none; // for ios safari
  border-radius: 0; // remove rounded corners on ios safari
  font-size: 16px; // remove auto zoom on ios safari
  outline: none; // remove default rounded corners on focus
  font-family: inherit;
  transition: background-color .5s, color .5s;
  background-color: var(--background-input);
  caret-color: var(--text-main);
  color: var(--text-main);
  &.input-text {
    height: 36px;
    width: 100%;
    max-width: calc(100% - 22px);
    border: 1px solid var(--accent-icon);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px; // set for ios safari
    padding-bottom: 1px; // set for ios safari
    &:focus {
      box-shadow: 0 0 10px var(--accent-icon);
    }
  }
}

.input-validation {
  position: relative;
  .validation-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    right: 6px;
    @media only screen and (max-width: 420px) {
      display: none;
    }
  }
}

button {
  font-family: inherit;
}

table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid var(--accent-link);
  tr {
    th, td {
      padding: 10px;
      font-size: 14px;
    }
    @media only screen and (max-width: 640px) {
      td, th {
        padding: 2px;
      }
      td {
        font-size: 12px;
      }
      th {
        font-size: 10px;
      }
    }
    &:hover {
      td {
        background-color: var(--text-secondary);
      }
    }
  }
}

.center {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.brake {
  word-break: break-word;
}

.no-brake {
  white-space: nowrap;
}

.red {
  color: var(--red);
}

.blue {
  color: var(--accent-link);
}

.bordered {
  border: 2px solid var(--accent-link);
}

.button-action {
  background-color: var(--accent-icon);
  border: none;
  color: var(--text-contrast);
  height: 40px;
  min-width: 100px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  &:hover {
    background-color: var(--background-menu);
  }
  &.thin {
    height: 30px;
  }
}

.main-box {
  border: 2px solid var(--accent-link);
  word-break: break-word;
  padding: 0 20px;
  position: relative;
}

.waiting {
  display: inline-block;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--background-menu);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@import "./components/switch.scss";
@import "./components/footer.scss";