@import "./variables.scss";

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v28-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v28-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v28-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v28-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

[data-theme="dark"] {
  #logo {
    path, rect {
      fill: white;
    }
  }
}

.body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  position: relative;
  background-color: var(--background-main);
  transition: background-color .5s, color .5s;
  color: var(--text-main);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: 100% auto;
}

.content {
  border-top: 81px solid var(--background-header);
  flex: 1;

  .content-text {
    margin: 80px;
    z-index: 1;
    position: relative;
    @media only screen and (max-width: 1024px) {
      margin: 20px;
    }

    .grey-box {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      padding: 20px;
      background-color: var(--background-main);
      width: calc(50% - 50px); //gap:20/2 + 2*20px
      min-width: 300px;
      flex-grow: 1;
    }
  }

  .content-center {
    margin: 80px auto;
    max-width: 760px;
    z-index: 1;
    position: relative;
    @media only screen and (max-width: 800px) {
      margin: 20px;
    }
  }
}

h1 {
  @media only screen and (max-width: 800px) {
    font-size: 24px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a, .link {
  cursor: pointer;
  color: var(--accent-link);
  transition: color 0.5s;
  text-decoration: none;
  &:hover {
    color: var(--accent-link-hover);
  }
  &.hover-oposite {
    &:hover {
      color: var(--text-oposite);
    }
  }
}

input {
  -webkit-appearance: none; // for ios safari
  border-radius: 0; // remove rounded corners on ios safari
  font-size: 16px; // remove auto zoom on ios safari
  outline: none; // remove default rounded corners on focus
  font-family: inherit;
  transition: background-color .5s, color .5s;
  background-color: var(--background-input);
  caret-color: var(--text-main);
  color: var(--text-main);
  &.input-text {
    height: 36px;
    width: 100%;
    max-width: calc(100% - 22px);
    border: 1px solid var(--accent-icon);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px; // set for ios safari
    padding-bottom: 1px; // set for ios safari
    &:focus {
      box-shadow: 0 0 10px var(--accent-icon);
    }
  }
}

.input-validation {
  position: relative;
  .validation-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    right: 6px;
    @media only screen and (max-width: 420px) {
      display: none;
    }
  }
}

button {
  font-family: inherit;
  transition: color 0.5s;
}

table {
  border-collapse: collapse;
  &.table-large {
    margin: auto;
    border: 1px solid var(--accent-link);
    tr {
      &:hover {
        td {
          background-color: var(--accent-icon);
          color: var(--text-oposite);
        }
        a {
          color: var(--text-oposite);
        }
      }
      th {
        text-align: left;
      }
      th, td {
        padding: 10px;
        font-size: 14px;
      }
      @media only screen and (max-width: 640px) {
        td, th {
          padding: 2px;
        }
        td {
          font-size: 12px;
        }
        th {
          font-size: 10px;
        }
      }
    }
  }
  &.table-mobile {
    margin: auto;
    font-size: 12px;
    tr {
      border: 1px solid var(--accent-link);
    }
  }
}

.center {
  text-align: center !important;
}

.flex {
  display: flex;
  gap: 20px 20px;
  flex-wrap: wrap;
}

.bold {
  font-weight: 600;
}

.brake {
  word-break: break-word;
}

.no-brake {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.red {
  color: var(--red);
}

.blue {
  color: var(--accent-link);
}

.orange,
.orange a {
  color: var(--orange);
}

.bordered {
  border: 2px solid var(--accent-link);
}

.button-action {
  display: inline-block;
  line-height: 38px;
  background-color: var(--accent-icon);
  border: none;
  color: var(--text-contrast);
  height: 40px;
  min-width: 100px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  &:hover {
    background-color: var(--background-menu);
    color: var(--text-contrast);
  }
  &.thin {
    height: 30px;
    line-height: 28px;
  }
}

.main-box {
  border: 1px solid var(--button-additional);
  word-break: break-word;
  padding: 0 20px;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.waiting {
  display: inline-block;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--background-menu);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  margin-top: 30px;
  cursor: pointer;
  &:before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%28-290.000000,%20-65.000000%29%22%20fill-rule%3D%22nonzero%22%3E%3Cg%20transform%3D%22translate%28290.000000,%2065.000000%29%22%3E%3Cpath%20d%3D%22M22.5%201.5v21H1.5V1.5h21z%22%20stroke%3D%22%23333333%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%23333333%22%20d%3D%22M16.999954%208.44117617%2015.5588332%207.00005699%2011.998935%2010.5575%208.44121825%207%207.00004599%208.44117067%2010.5585606%2011.9999973%207%2015.5587778%208.44122375%2017%2011.998935%2013.4414323%2015.5588277%2016.999943%2017%2015.5587723%2013.4414339%2011.9999973z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
  }
  &:hover:before {
    background-image: url(data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22%23333333%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%28-290.000000,%20-65.000000%29%22%20fill-rule%3D%22nonzero%22%3E%3Cg%20transform%3D%22translate%28290.000000,%2065.000000%29%22%3E%3Cpath%20d%3D%22M22.5%201.5v21H1.5V1.5h21z%22%20stroke%3D%22%23333333%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M16.999954%208.44117617%2015.5588332%207.00005699%2011.998935%2010.5575%208.44121825%207%207.00004599%208.44117067%2010.5585606%2011.9999973%207%2015.5587778%208.44122375%2017%2011.998935%2013.4414323%2015.5588277%2016.999943%2017%2015.5587723%2013.4414339%2011.9999973z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
  }
}
[data-theme='dark'] {
  .close-button {
    &:before {
      background-image: url(data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%28-290.000000,%20-65.000000%29%22%20fill-rule%3D%22nonzero%22%3E%3Cg%20transform%3D%22translate%28290.000000,%2065.000000%29%22%3E%3Cpath%20d%3D%22M22.5%201.5v21H1.5V1.5h21z%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M16.999954%208.44117617%2015.5588332%207.00005699%2011.998935%2010.5575%208.44121825%207%207.00004599%208.44117067%2010.5585606%2011.9999973%207%2015.5587778%208.44122375%2017%2011.998935%2013.4414323%2015.5588277%2016.999943%2017%2015.5587723%2013.4414339%2011.9999973z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
    }
    &:hover:before {
      background-image: url(data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%28-290.000000,%20-65.000000%29%22%20fill-rule%3D%22nonzero%22%3E%3Cg%20transform%3D%22translate%28290.000000,%2065.000000%29%22%3E%3Cpath%20d%3D%22M22.5%201.5v21H1.5V1.5h21z%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%23333333%22%20d%3D%22M16.999954%208.44117617%2015.5588332%207.00005699%2011.998935%2010.5575%208.44121825%207%207.00004599%208.44117067%2010.5585606%2011.9999973%207%2015.5587778%208.44122375%2017%2011.998935%2013.4414323%2015.5588277%2016.999943%2017%2015.5587723%2013.4414339%2011.9999973z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
    }
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@import "./components/footer.scss";