:root {
  --background-header: #002C37;
  --background-block: #002C37;
  --background-main: white;
  --background-footer: #333333;
  --background-menu: #005460;
  --background-secondary: #F9F9F9;
  --button-additional: white;
  --background-input: white;
  --text-main: #333333;
  --text-contrast: white;
  --accent-link: #00B1C1;
  --accent-link-hover: #79BFCB;
  --accent-icon: #3FA3B5;
  --red: #D23A1C;
  --green: #14913E;
  --yellow: #FCAC45;
}

[data-theme='dark'] {
  --background-header: #031B21;
  --background-block: #031B21;
  --background-main: #090909;
  --background-footer: #1C1C1C;
  --background-menu: black;
  --background-secondary: #101010;
  --button-additional: #1C1C1C;
  --background-input: black;
  --text-main: white;
  --text-contrast: white;
  --accent-link: #66D0DA;
  --accent-link-hover: #79BFCB;
  --accent-icon: #00B1C1;
  --red: #E48977;
  --green: #62C683;
  --yellow: #FAD29E;
}
