:root {
  --color-primary-50: #ebfffd;
  --color-primary-100: #a4f3f4;
  --color-primary-200: #4ee4e8;
  --color-primary-300: #00cfd7;
  --color-primary-400: #01b8c1;
  --color-primary-500: #02a2ab;
  --color-primary-600: #028c96;
  --color-primary-700: #037781;
  --color-primary-800: #04626d;
  --color-primary-900: #044e5a;
  --color-primary-950: #053b47;

  --color-purple-50: #fdebff;
  --color-purple-100: #f3cef4;
  --color-purple-200: #e9b1e8;
  --color-purple-300: #de94dc;
  --color-purple-400: #d375d0;
  --color-purple-500: #c854c3;
  --color-purple-600: #ba2db3;
  --color-purple-700: #a4029b;
  --color-purple-800: #84037a;
  --color-purple-900: #65045a;
  --color-purple-950: #47053b;

  --color-gray-50: #f8fafb;
  --color-gray-100: #dde0e0;
  --color-gray-200: #c3c6c6;
  --color-gray-300: #a9adad;
  --color-gray-400: #909494;
  --color-gray-500: #787c7c;
  --color-gray-600: #626564;
  --color-gray-700: #4c4f4e;
  --color-gray-800: #383938;
  --color-gray-900: #252524;
  --color-gray-950: #121210;

  --color-red-50: #fff5f5;
  --color-red-100: #fedbdb;
  --color-red-200: #fdc0c0;
  --color-red-300: #fda5a5;
  --color-red-400: #fc8787;
  --color-red-500: #fb6565;
  --color-red-600: #eb4b4b;
  --color-red-700: #ce3e3e;
  --color-red-800: #b23232;
  --color-red-900: #972626;
  --color-red-950: #7d1a1a;

  --color-green-50: #f4fce3;
  --color-green-100: #d6ecb4;
  --color-green-200: #b9dc84;
  --color-green-300: #9acc53;
  --color-green-400: #7abb20;
  --color-green-500: #69a714;
  --color-green-600: #5c9311;
  --color-green-700: #507f0e;
  --color-green-800: #436c0b;
  --color-green-900: #385909;
  --color-green-950: #2c4706;

  --color-yellow-50: #fff9db;
  --color-yellow-100: #fce2a3;
  --color-yellow-200: #faca68;
  --color-yellow-300: #f7b02a;
  --color-yellow-400: #ec9800;
  --color-yellow-500: #d48700;
  --color-yellow-600: #bd7500;
  --color-yellow-700: #a66500;
  --color-yellow-800: #905400;
  --color-yellow-900: #7b4400;
  --color-yellow-950: #663500;
}