@use './colors' as *;

body {
  --background-header: #002C37;
  --background-block: #002C37;
  --background-main: var(--color-gray-50);
  --background-footer: #333333;
  --background-menu: #005460;
  --background-secondary: #F9F9F9;
  --background-contrast: black;
  --button-additional: white;
  --background-input: white;
  --background-input-readonly: #e9ecef;
  --text-main: #333333;
  --text-secondary: #62636C;
  --text-contrast: white;
  --text-oposite: white;
  --accent-link: #00808E;
  --accent-link-hover: #002C37;
  --footer-link: #00B1C1;
  --footer-link-hover: #66D0DA;
  --accent-icon: #00828E;
  --unaccent-icon: rgba(63, 163, 181, .5);
  --shadow: rgba(0, 0, 0, 0.2);
  --red: #D23A1C;
  --green: #14913E;
  --orange: #e38203;
  --purple: #800080;
  // Card variables
  --card-shadow: var(--color-gray-800);
  --card-border: var(--color-gray-200);
  --card-bg: white;
  --card-text: var(--color-gray-950);
}
body.dark {
  --background-header: #031B21;
  --background-block: #031B21;
  --background-main: var(--color-gray-950);
  --background-footer: #1C1C1C;
  --background-menu: black;
  --background-secondary: #101010;
  --background-contrast: white;
  --button-additional: #1C1C1C;
  --background-input: black;
  --background-input-readonly: #333333;
  --text-main: white;
  --text-secondary: #999999;
  --text-contrast: white;
  --text-oposite: black;
  --accent-link: #66D0DA;
  --accent-link-hover: white;
  --accent-icon: #00B1C1;
  --footer-link: #66D0DA;
  --footer-link-hover: white;
  --unaccent-icon: rgba(0, 177, 193, .5);
  --shadow: rgba(255, 255, 255, 0.3);
  --red: #E48977;
  --green: #62C683;
  --orange: #FAD29E;
  --purple: #EE82EE;
  // Card variables
  --card-shadow: var(--color-gray-800);
  --card-border: var(--color-gray-800);
  --card-bg: black;
  --card-text: var(--color-gray-100);
}
  
body[data-networkname*="xahau"] {
  --background-header: #0E233F;
  --background-block: #0E233F;
  --background-footer: #061322;
  &.dark {
    --background-header: #061322;
    --background-block: #061322;
  }
}